.header {
  width: 100%;
  position: fixed;
  height: 105px;
  background-image: url('https://noa.ua/wp-content/themes/tomatina/img/bg-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0px 35px;
  z-index: 100;

  // .header__logo

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .header__menu

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .header__ul

  &__ul {
    display: flex;
    padding: 42px 30px;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;

    li {
      width: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;


      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;

        &:hover {
          @media (min-width:992px) {
            transition: all .3s;
            color: #2d7d7d;
          }
        }
      }
    }
  }

  // .header__right

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 974px;
    padding: 23px 30px;
  }

  // .header__language

  &__language {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
    }
  }

  // .header__btn
  &__btn {
    width: 223px;
    height: 60px;
    background-color: #323232;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 20px 25px;
    letter-spacing: .15em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      @media (min-width:992px) {
        background: #2d7d7d;
        transition: all .3s;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

  }

  // .header__img-liked
  &__img-liked {
    width: 47px;
    height: 47px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .header__img-wrapper

  &__img-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-phone-wrapper {
    display: flex;

  }

  &__phone-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }

  &__img-phone {
    width: 47px;
    height: 47px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__phone {
    margin-bottom: 5px;

    a {
      color: #FFFF;
      font-size: 14px;
      line-height: 1.3em;
      font-weight: 700;

      &:hover {
        @media (min-width:992px) {
          transition: all .3s;
          color: #2d7d7d;
        }
      }
    }

  }

  &__text {
    color: #6d6d6d;
    font-size: 12px;

    span {
      color: #FFFF;
    }
  }




  // .header__auth

  &__auth {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .header__auth-wrapper

  &__auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #ffff;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        @media (min-width:992px) {
          transition: all .3s;
          color: #2d7d7d;
        }
      }
    }
  }

  // .header__burger-menu

  &__burger-menu {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: rgb(45, 125, 125);
    position: relative;
    cursor: pointer;
  }

  // .header__circle

  &__border {
    width: 19px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 14px;


    &::before {
      content: '';
      width: 19px;
      position: absolute;
      bottom: 5px;
      right: -1px;
      border: 1px solid #FFF;

    }

    &::after {
      content: '';
      width: 19px;
      position: absolute;
      top: 5px;
      left: -1px;
      border: 1px solid #FFF;
    }
  }



}
