<section class="product">
    <div class="product__container">

      <div class="product__wrapper">
        <div class="product__menu-categories">
          <ul class="product__categories-list">
            <li class="product__categories-list-item"><a href="">Culinasia special</a></li>
            <li class="product__categories-list-item"><a href="">Сніданки до 18:00</a></li>
            <li class="product__categories-list-item"><a href="">Стартери</a></li>
            <li class="product__categories-list-item"><a href="">Рамен</a></li>
            <li class="product__categories-list-item"><a href="">Asian Wok</a></li>
            <li class="product__categories-list-item"><a href="">Asian Poke</a></li>
            <li class="product__categories-list-item"><a href="">Суші-бургери</a></li>
            <li class="product__categories-list-item"><a href="">Роли та мак суші</a></li>
            <li class="product__categories-list-item"><a href="">Роли</a></li>
            <li class="product__categories-list-item"><a href="">Сети</a></li>
            <li class="product__categories-list-item"><a href="">Десерти</a></li>
            <li class="product__categories-list-item"><a href="">Напої</a></li>
            <li class="product__categories-list-item"><a href="">Алкогольні напої 18+</a></li>
          </ul>
        </div>
  
        <div class="product__wrapper-products">
          <div class="product__product-item">
            <div class="product__product-img">
              <img [src]="" alt="">
            </div>
  
            <div class="product__product-wrapper-title">
              <a></a>
              <span></span>
            </div>
  
            <div class="product__product-desc">
              <a href=""></a>
              <span></span>
            </div>
  
            <div class="product__product-controls">
              <div class="product__btns">
                <button type="button" class="product__btn-minus btn">-</button>
                <input class="product__number" type="text" readonly>
                <button type="button" class="product__btn-plus btn">+</button>
              </div>
              <button class="product__order">Замовити</button>
            </div>
          </div>
        </div>
  
      
      </div>
    </div>
  
  </section>
  