.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2em;
  color: #2D2C2C;
  margin-bottom: 40px;
  margin-top: 60px;

  @media (max-width:1290px) {
    font-size: 32px;
  }

  @media (max-width:790px) {
    font-size: 28px;
  }

  @media (max-width:540px) {
    font-size: 24px;
    margin-top: 30px;
  }
}


.subtitle {
  font-size: 42px;
  line-height: 1.2em;
  color: #2D2C2C;

  @media (max-width:1290px) {
    font-size: 34px;
  }

  @media (max-width:990px) {
    font-size: 28px;
  }

}


// .btn {
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
//   background: none;
//   transition: 0.3s;
//   font-size: 18px;
//   font-weight: 700;
//   color: #2D2C2C;
//   background-color: #F5F5F5;
//   border-radius: 5px;
//   border: none;
// }


.__wrapper {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
