.thai {
  // .home__container

  &__container {
    width: 100%;
  }

  // .home__wrapper

  &__wrapper {
    margin-top: 100px;
    width: 100%;
    padding: 0px 100px;

    @media (max-width:1290px) {
      padding: 0px 50px;
    }

    @media (max-width:990px) {
      padding: 0px 35px;
    }

    @media (max-width:790px) {
      padding: 0px 20px;
    }

    @media (max-width:590px) {
      padding: 0px 15px;
    }

    @media (max-width:490px) {
      padding: 0px 10px;
    }
  }

  // .home__title

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2em;
    color: #2D2C2C;
    margin-top: 25px;

    @media (max-width:1290px) {
      font-size: 38px;
    }

    @media (max-width:990px) {
      font-size: 34px;
    }

    @media (max-width:790px) {
      font-size: 28px;
    }

    span {
      margin-left: 10px;
      color: #2d7d7d;
    }
  }

  // .home__menu-categories

  &__menu-categories {
    display: flex;
    background: #F5F5F5;
    border-radius: 6px;
    padding: 3px;

    @media (max-width:790px) {
      display: none;
    }
  }

  // .home__categories-list
  &__categories-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width:1290px) {
      justify-content: space-between;
    }

    @media (max-width:790px) {
      display: none;
    }


  }


  // .home__categories-list-item
  &__categories-list-item {
    padding: 10px 10px;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:hover {
      @media (min-width:992px) {
        color: #FFF;
        background: #2d7d7d;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s;

        a {
          color: #FFF;
        }
      }
    }

    a {
      width: 100%;
      text-align: center;
      padding: 8px 25px;
      font-size: 14px;
      font-weight: 500;
      color: #6D6D6D;
      transition: all 0.3s;
      text-transform: uppercase;

    }
  }

  // .home__wrapper-products
  &__wrapper-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px;
    margin-bottom: 60px;
    

    @media (max-width:1290px) {
      padding: 0px 50px;
    }

    @media (max-width:790px) {
      padding: 0px 25px;
    }

    @media (max-width:590px) {
      padding: 0px 10px;
    }

    @media (max-width:490px) {
      padding: 0px 5px;
    }

  }

  // .home__product-item

  &__product-item {
    width: 26%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (max-width:1290px) {
      width: 45%;
    }

    @media (max-width:790px) {
      width: 100%;
    }


  }

  // .home__product-img

  &__product-img {
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
    }

  }

  // .home__product-wrapper-title
  &__product-wrapper-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


    a {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: #2D2C2C;


      &:hover {
        @media (min-width:992px) {
          color: #2d7d7d;
          transition: .4s all;
        }
      }
    }

    span{
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: #2D2C2C;
    }
  }

  // .home__product-desc

  &__product-desc {
    margin-bottom: 10px;

  }

  // .home__product-controls

  &__product-controls {
    display: flex;
    justify-content: space-between;
  }

  // .home__btns

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .home__btn-minus

  &__btn-minus {
    cursor: pointer;
    background: none;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 700;
    color: #2D2C2C;
    background-color: #F5F5F5;
    border-radius: 5px;

    &:hover {
      @media (min-width:992px) {
        background-color: #2d7d7d;
        color: #FFF;
        transition: .3s;
      }

    }
  }

  // .home__btn-plus
  &__number {
    width: 50px;
    height: 26px;
    font-weight: 500;
    color: #2D2C2C;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: none;
  }

  &__btn-plus {

    cursor: pointer;
    background: none;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 700;
    color: #2D2C2C;
    background-color: #F5F5F5;
    border-radius: 5px;

    &:hover {
      @media (min-width:992px) {
        background-color: #2d7d7d;
        color: #FFF;
        transition: .3s;
      }

    }
  }

  // .home__order
  &__order {
    color: #FFF;
    background: #2d7d7d;
    border: 2px solid #2d7d7d;
    border-radius: 6px;
    padding: 10px 15px;

    &:hover {
      @media (min-width: 992px) {
        background: transparent;
        transition: .4s all ease 0;
        color: #2d7d7d;
      }
    }
  }

  // .home__wrapper-info

  &__wrapper-info {
    width: 100%;
    padding: 0px 160px;

    @media (max-width:1290px) {
      padding: 0px 25px;
    }


    @media (max-width:790px) {
      padding: 0px 15px;
    }

    @media (max-width:590px) {
      padding: 0px 5px;
    }
  }

  &__info-container {

    @media (max-width:1290px) {
      padding: 0px 80px;
    }

    @media (max-width:990px) {
      padding: 0px 40px;
    }


    @media (max-width:790px) {
      padding: 0px 25px;
    }

    @media (max-width:590px) {
      padding: 0px 15px;
    }

    @media (max-width:490px) {
      padding: 0px 10px;
    }
  }


}
